
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color:rgba(112, 113, 122, 1);
}
li{
    list-style: none;
}

.fa-solid{
    margin:0 10px;

}
/*hero container*/
.hero_container{
    width: 100vw;
    height: 100vh;
    position:relative;
}

.clearfix::after{
    content: "";
    display:table;
    clear: both;
}

.container_bar{
    
    position:relative;
    float:left;
    width: 250px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
}

.logo{
    display:flex;
    justify-content: flex-start;
    margin-left: 20px;
}
.logo > img{
   width: 150px;
    padding:10px;
    
}
/*menu barra sinistra*/
nav{
display:flex;
flex-direction: column;
line-height: 30px;
}

nav > a{
    margin:7px;
    font-weight: bold;
    }
nav > a:focus{
    border-left:3px solid lime;

}

nav > a > img{
    width:20px;
    margin:0 25px;
    vertical-align: middle;
}

.download > a{
    color:rgba(112, 113, 122, 1);
    position:absolute;
    bottom:150px;
    font-weight: bold;
    
}
.img_download{
    margin-right:20px;
}
.download > a >img{
    width: 25px;
    vertical-align: middle;
    color:rgba(112, 113, 122, 1);
}

.playlist{
    display:Flex;
    margin:32px;
}
.playlist > h2{
    color:white;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.bar{
    width: 200px;
    height: 2px;
    position:absolute;
    background-color:rgba(112, 113, 122, 1);
    bottom:140px;
}
.profile{
    position:absolute;
    bottom:80px;
    
    color:white;
    display:flex;
}
.profile > img{
    
    padding:2px;
    width: 40px;
    vertical-align: middle;
    height: 40px;
    border:1px solid rgba(112, 113, 122, 1);
    background-color: rgba(112, 113, 122, 1);
    border-radius: 100%;
}
.profile > h2{
    margin: 10px;
    font-size: 20px;
    }

.menu li a:hover{
    color:white;
}
.list li:hover{
    color:white;
    cursor:pointer;
}

.fa-plus{
    padding:10px 10px;
    background-color: grey;
    color:black;
    
}
.crea{
    display:flex;
    align-items: center;
    
}
.crea > h3{
    color:rgba(112, 113, 122, 1);
    font-weight: bold;
}
.new{
    margin-left:20px;
    
}
.list{
    margin-top:10px;
}
.list li{
    color:white;
    padding:5px;
    color:rgba(112, 113, 122, 1);
    font-weight: bold;
}
.upgrade{
    position:relative;
    width: 1670px;
    height: 75px;
    float:right;
    background-color: rgba(24, 24, 33, 1);
}
.upgrade > a{
    position:absolute;
    text-decoration: none;
    color:white;
    border:1px solid white;
    padding:10px 50px;
    text-align: center;
    border-radius: 100px;
    top:50%;
    transform: translate(0, -50%);
    right:20px;
    display:flex;
    align-items: center;
    text-transform: uppercase;
    word-spacing: 3px;
    font-weight: 700;
    }

/*stream_container*/
.container_stream{
    display:flex;
    justify-content: center;
    background-color: rgba(35, 39, 47, 1);
    height: calc(100vh - 155px);
    width: calc(1920px - 250px);
    
}

header{
    
    width: 1000px;
    height: 50px;
    
}

.menu{
    display:flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding:40px;
}

.menu li{
    list-style: none;
    
}

.menu li a{
    color:rgba(112, 113, 122, 1);
    text-transform: uppercase;
    font-weight: bold;
    
}
.menu li a:focus{
    border-bottom: 3px solid lime;
    transition:1s;
    
}

.bordino{
    margin:200px;
    
    width: 30px;
    height: 3px;
    background-color: lime;
}



footer{
    position:fixed;
    justify-content: space-between;
    overflow: hidden;
    bottom:0;
    display:flex;
    height: 80px;
    width: 100%;
    background-color: rgba(20, 20, 20, 1);
}
.f_left{
    
    max-width: 230px;
    height: 100%;
    align-items: center;
    display:flex;
    margin-left:22px;
}
.f_left > img{
    height: 50px;
    
}

.f_left_text{
    padding:20px;
    margin:5px auto;
}

.f_left_text > h4{
    color:white;
}

.f_left_text > span{
    color:rgba(112, 113, 122, 1);
    font-weight: bold;
}
.icone_left{
    display:Flex;
    flex-direction: column;
    
}
.icone_left > a{
    padding:5px;
    
}

.f_center{
    position:Relative;
   
}
.ico_center, 
.ico_right {
    color:white;
}

.ico_center{
    display:flex;
    flex-wrap: wrap;
    align-items: baseline;
    height: 100%;
    margin-bottom:30px;
    
    }
.ico_center > li{
    margin:12px;
    padding:5px;
    
    
}
.ico_center li{
    
    font-size: 20px;
    cursor:pointer;
    
    
}
.f_center{
    position:Relative;
    display:Flex;
    flex-direction: column;
    justify-content: center;
    
}
.center_bar{
    position: fixed;
    bottom: 10px;
    left: 570px;
    margin:5px;
    height: 4px;
    width: 700px;
    background-color: rgba(38, 38, 38, 1);
}

.under_center{
    width: 20%;
    height: 100%;
    background-color: white;
}
.fa-play{
    font-size: 17px;
    width:35px;
    height: 35px;
    border:4px solid white;
    align-items: center;
    line-height: 30px;
    vertical-align: middle;
    padding-left:7px;
    
    border-radius: 100%;
    
    }

    
    

.barra_minuti{
    width: 6px;
    
}
.f_center_text > h5{
    color:white;
    
}

.ico_right{
    display:Flex;
    height: 100%;
    align-items: center;
    
}
.barra{
    margin:20px;
    border-radius: 10px;
    width: 150px;
    height: 4px;
    background-color: rgba(112, 113, 122, 1);
}

.sotto_barra{
    background-color:rgb(219, 214, 214);
    width: 30%;
    height: 3px;
}


.sinistro_n, .destro_n{
    color:white;
    font-weight: bold;
}

.sinistro_n{
    position:absolute;
    bottom: 8px;
    
    left: -280px;
}

.destro_n{
    position:absolute;
    bottom:8px;
    right:-280px;
}