*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color:rgba(112, 113, 122, 1);
}

.fa-solid{
    margin:0 10px;

}
/*hero container*/
.hero_container{
    width: 100vw;
    height: 100vh;
    
}

.container_bar{
    
    float:left;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.logo > img{
    padding:30px;
}
/*menu barra sinistra*/
nav{
display:flex;
flex-direction: column;
justify-content: center;
align-items: left;
}

nav > a{
    margin:20px;
}

.upgrade{
    position:relative;
    width: 1670px;
    height: 12vh;
    float:right;
    background-color: rgba(24, 24, 33, 1);
}
.upgrade > a{
    position:absolute;
    text-decoration: none;
    color:white;
    border:1px solid white;
    padding:10px 50px;
    text-align: center;
    border-radius: 100px;
    top:50%;
    transform: translate(0, -50%);
    right:20px;
    display:flex;
    align-items: center;
    text-transform: uppercase;
    word-spacing: 3px;
    font-weight: 700;
    }
/*stream_container*/
.container_stream{
    display:flex;
    justify-content: center;
    justify-content: center;
    float:left;
    background-color: rgba(35, 39, 47, 1);
    height: 88vh;
    width: 1670px;
}

header{
    
    width: 1000px;
    height: 50px;
    
}

.menu{
    display:flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding:40px;
}

.menu li{
    list-style: none;
    
}

.menu li a{
    color:rgba(112, 113, 122, 1);
    text-transform: uppercase;
    font-weight: bold;
    
}
.menu li a:focus{
    border-bottom: 3px solid lime;
    transition:1s;
    
}

.bordino{
    margin:200px;
    
    width: 30px;
    height: 3px;
    background-color: lime;
}

